<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%) ,url('https://thumbs.dreamstime.com/b/drunk-man-27567500.jpg') ">
  <div class="banner-content">
    <h1>Coquetéis da Depressão</h1>
    <p> Seleção dos Drinks que levam para o buraco </p>
    <%= link_to "Adicione um novo Coquetel", new_cocktail_path, class:"btn btn-primary btn-lg" %>
  </div>

</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://p2.trrsf.com/image/fget/cf/460/0/images.terra.com/2019/04/03/2019-04-03T235810Z_1_LYNXNPEF321U5_RTROPTP_4_BRAZIL-ECONOMY-PENSIONS.JPG');">
          <div class="card-description">
          <h2><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h2>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


